
section.family-planning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('https://st4.depositphotos.com/1017986/19983/i/450/depositphotos_199836278-stock-photo-female-hands-with-paper-family.jpg');
  background-position: center;
  background-size: cover;
  opacity: .7;
}

section.family-planning > h1 {
  background-color: var(--puce);
  color: var(--blue);
  padding: 2em;
  font-size: 3em;
  font-weight: 700;
  transition: background-color 500ms;
}