header.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 10vh;
  transition: height 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  background-color: var(--nav-BG);
  z-index: 1000;
  color: var(--nav-text);
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav {
  text-decoration: none;
}

header nav .nav-logo {
  width: auto;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}
header nav .nav-logo:hover {
  color: #332123;
}

header nav div {
  width: 100%;
  height: 100%;
}

header nav ul.menu-button {
  display: none;
  width: 10vh;
  height: 10vh;
  margin-right: 1.5em;
}

header nav div ul {
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

header nav div ul div {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

header nav div ul .right-nav > a,
header nav div ul .left-nav > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--nav-text);
  text-align: center;
  text-transform: capitalize;
}

header nav ul li {
  position: relative;
  font-weight: 600;
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2em, 1vw, 25px);
  border-bottom: solid .3em transparent;
  transition: border-bottom 300ms, background-color 400ms, color 200ms;
  padding: 0 .5em;
  text-transform: capitalize;
}
header nav ul li:hover {
  border-bottom: solid .3em var(--nav-BG-hover);
  cursor: pointer;
}

header nav ul li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}
header nav ul li:hover > ul {
  display: block;
}
header nav ul li ul > li {
  background-color: var(--nav-dropdown-BG);
  color: white;
  opacity: .9;
}
header nav ul li ul > li:hover {
  background-color: var(--nav-dropdown-BG-hover);
  opacity: 1;
}

@media screen and (max-width: 960px) {
  header nav div.menu-not-active{
    display: none;
  }
  header nav ul.menu-button {
    display: block;
  }

  header nav div.menu-active {
    position: absolute;
    top: calc(10vh - 5px);
    right: 0;
    width: 40vw;
    height: auto;
    border: 5px solid rgba(224, 179, 221, 0.468);
    border-radius: 0 0 9px 9px;
  }

  header nav div.menu-active > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fefefefe;
    opacity: .95;
  }

  header nav div.menu-active > ul div {
    width: 100%;
    flex-direction: column;
    color: red;
  }
  header nav div.menu-active ul div li {
    width: 100%;
    border-bottom: none;
    padding: 2em 0;
  }
  header nav div.menu-active ul li:hover {
    background-color: var(--nav-BG-hover);
    color: white;
  }

}
@media screen and (max-width: 400px) {
  header nav div.menu-active {
    width: 100vw;
    max-width: 100%;
    border-width: 5px 0 5px 0 ;
    border-radius: 0;
  }
}